<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Labas, pasauli!</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 18px;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Labas, pasauli!</h1>

        <form action = "login" method = "post">
        <label for "vardas">Vardas: </label>
        <input type = "text" id = "vardas" name = "vardas">
        <input type="submit" value="Siusti">
        
        
    </div>
</body>
</html>